.vs/MediatoRTestApi/FileContentIndex/0da6c945-cf37-4100-b46c-f05cbba76803.vsidx
.vs/MediatoRTestApi/FileContentIndex/31396324-6254-4946-9b1c-6a80a9060d82.vsidx
.vs/MediatoRTestApi/FileContentIndex/805dbf0e-38cd-4b81-b5f7-04d9c2a32d02.vsidx
.vs/MediatoRTestApi/FileContentIndex/965fc599-5052-4667-99a3-c7753f718e83.vsidx
.vs/MediatoRTestApi/FileContentIndex/cd9b6dec-e67d-4983-92e1-93a0ce07d275.vsidx
.vs/MediatoRTestApi/v17/.futdcache.v2
.vs/MediatoRTestApi/v17/.suo
.vs/ProjectEvaluation/mediatortestapi.metadata.v8.bin
.vs/ProjectEvaluation/mediatortestapi.projects.v8.bin
.vs/ProjectEvaluation/mediatortestapi.strings.v8.bin
MediatoRTestApi.sln
